body{
    background-color: black;

}

h1{
  color: #f8b500;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 30px;



}


h2{
   text-align: center;
   color: #f8b500;
   font-family: 'Press Start 2P', cursive;
   font-size: 20px;
   


}

.menudropdown{
    position: relative;
    display: inline-block;
    

}

.btndropdown{
    background-color: #f8b500;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Press Start 2P', cursive;
    border-width: medium;
    border-style: dashed;
    border-color: black;

    


}


.menudropdown-conteudo{

    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-width: medium;
    border-style: dashed;
    border-color: #f8b500;

}

.menudropdown-conteudo a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Press Start 2P', cursive;


}


.menudropdown-conteudo a:hover{
   background-color: #ddd;


    
}

.mostrarMenuDropdown{
    display: block;
}


.menudropdown:hover .btndropdown{
  background-color: goldenrod;
}


.containerI img{
    max-width:50px;
    max-height:50px;
    margin-right: -58%;
    top: 30%;
    position: relative;
    left: 42%;
    transform: translate(-20%, -60%);
    margin-top: 1%;
    
    



}


.containerT img{
    max-width:50px;
    max-height:50px;
    margin-right: -58%;
    top: 0%;
    position: relative;
    left: 42%;
    transform: translate(100%, -170%)
    
    
    

}